#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

body {

  font-family: 'Times New Roman', Times, serif;
  background-color: #FFD1DC;
  margin: 20px;

}

h1 {

  color: #000000;
  text-align: center;

}


input {
  padding: 15px;
  width: 250px;
  margin-right: 10px;
  border: 1px solid #ffd4e1;
  border-radius: 4px;
}

button {
  background-color: #ff6f61;
  color: white;
  border: none;
  padding: 9px 16px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ffadd3;
}

ul {
  margin-top: 20px;
  list-style-type: square;
}

li {
  margin-bottom: 8px;
  font-weight: bold;
}